body, ul, li,select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li {list-style: none;}
.calculator {
  max-width: 300px;
  margin: 20px auto;
  border: 1px solid #eee;
  border-radius: 3px;
}
.cal-header {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.cal-main {
  font-size: 14px;
}
.cal-main .origin-value {
  padding: 15px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: right;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.cal-main .origin-type,
.cal-main .target-type {
  padding-left: 5px;
  width: 70px;
  font-size: 14px;
  height: 30px;
  border: 1px solid #eee;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 3px;
}
.cal-keyboard {
  overflow: hidden;
}
.cal-items {
  overflow: hidden;
}
.cal-items li {
  user-select: none;
  float: left;
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  box-sizing: border-box;
}
li:nth-of-type(4n+1) {
  border-left: none;
}
li[data-action=operator] {
  background: #f5923e;
  color: #fff;
}
.buttons {
  float: left;
  width: 75px;
}
.buttons .btn {
  width: 75px;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.btn-esc {
  color: #ff5a34;
}
.btn-backspace {
  position: relative;
}